<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Solr" description="Foundation Solr" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions,Foundation.Assets" extends="Helix.Base">
                    <predicate>
                        <include name="Core.FieldTypes" database="core" path="/sitecore/system/Field types/Foundation/LatLon" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Foundation Solr .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>