@using Wageworks.Feature.News
@using Wageworks.Foundation.Alerts
@using Wageworks.Foundation.Alerts.Extensions
@using Sitecore.Mvc.Presentation
@using Wageworks.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.IsDerived(Templates.NewsArticle.ID) ?? true)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
    return;
}

<section class="teaser-article @RenderingContext.Current.Rendering.Parameters.GetCssClassFromParameters()">
    <div class="teaser-article__background" style="background-image: @Model.Item.ImageUrl(Templates.NewsArticle.Fields.Image).ToCssUrlValue();"></div>
    <div class="teaser-article__content-wrapper">
        <div class="teaser-article__content">
            <h2>
                @Html.Sitecore().Field(Templates.NewsArticle.Fields.Title, Model.Item)
            </h2>
        </div>
    </div>
</section>