<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="Media.RequestExtension" set:value="" />
            <setting name="Media.RequestProtection.SharedSecret" set:value="CA972DAE5E21D2D65C945DD21D489" />
            <setting name="CompressionExclusionPaths" set:value="/formbuilder|/firearms" />
        </settings>
        <pipelines>
            <initialize>
                <processor type="Wageworks.Foundation.SitecoreExtensions.Pipelines.Initialize.RegisterModelBinder, Wageworks.Foundation.SitecoreExtensions" />
                <processor type="Wageworks.Foundation.SitecoreExtensions.Infrastructure.Pipelines.InitializeRoutes, Wageworks.Foundation.SitecoreExtensions"
                           patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
            </initialize>
            <httpRequestBegin>
                <!--Fix of switching to default site instead of one matched by domain-->
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Wageworks.Foundation.SitecoreExtensions.Pipelines.HttpRequest.CompressionDisableHttpRequestProcessor, Wageworks.Foundation.SitecoreExtensions" />

                <!--<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="Wageworks.Foundation.Multisite.Pipelines.HttpRequest.WageworksItemResolver, Wageworks.Foundation.Multisite">
                    <sites hint="list:AddSite">
                        <fp>FederalPremium</fp>
                        <sa>SavageArms</sa>
                    </sites>
                </processor>-->
            </httpRequestBegin>
            <mvc.renderRendering>
                <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
                    <patch:attribute name="type">Wageworks.Foundation.SitecoreExtensions.Pipelines.MvcRenderRendering.ExecuteRenderer, Wageworks.Foundation.SitecoreExtensions</patch:attribute>
                </processor>
            </mvc.renderRendering>
        </pipelines>
        <events timingLevel="custom">
            <!--Clear Cache on Remote Servers -->
            <event name="Wageworks:clearcacheremote">
                <handler type="Wageworks.Foundation.SitecoreExtensions.Events.ClearCache.ClearCacheEventHandler, Wageworks.Foundation.SitecoreExtensions" method="OnClearCacheRemote" />
            </event>
        </events>
        <hooks>
            <!--Clear Cache on Remote Servers -->
            <hook type="Wageworks.Foundation.SitecoreExtensions.Events.ClearCache.ClearCacheHook, Wageworks.Foundation.SitecoreExtensions" />
        </hooks>
        <commands>
            <command name="Wageworks:clearcache" type="Wageworks.Foundation.SitecoreExtensions.Commands.ClearCache, Wageworks.Foundation.SitecoreExtensions" />
        </commands>
    </sitecore>
</configuration>