<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <settings>
          <setting name="Wageworks.Feature.News.ExternalNewsFeedUrl.FederalPremium" value="http://media.Wageworksoutdoor.com/PressReleaseAPI/api/Press/brand/5" />
          <setting name="Wageworks.Feature.News.ExternalNewsFeedUrl.SavageArms" value="http://media.Wageworksoutdoor.com/PressReleaseAPI/api/Press/brand/34" />
          <setting name="Wageworks.Feature.News.ExternalNewsFeedUrl.SpeerAmmo" value="http://media.Wageworksoutdoor.com/PressReleaseAPI/api/Press/brand/49" />
      </settings>
      <pipelines>
          <initialize>
              <processor type="Wageworks.Feature.News.Infrastructure.Pipelines.InitializeRoutes, Wageworks.Feature.News" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
          </initialize>
      </pipelines>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="news" type="Wageworks.Feature.News.Indexing.NewsIndexingProvider, Wageworks.Feature.News" patch:before="add[@name='fallback']" />
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>